# Backend Configuration
PORT=port number
MONGO_URI=your mongo db url
JWT_SECRET= your secret code 
# Frontend Configuration (Accessed via import.meta.env.VITE_API_URL)
VITE_API_URL="/api"

# AI Studio automatically injects this at runtime
GEMINI_API_KEY=your api key 
APP_URL="MY_APP_URL"
