# Backend Configuration
PORT=3000
MONGO_URI=mongodb+srv://hari123:sriharis123@cluster0.m2frygv.mongodb.net/?appName=Cluster0
JWT_SECRET="8fK29xP!mN7#zQ4$vL2@wX9rT6&cY1sA"
# Frontend Configuration (Accessed via import.meta.env.VITE_API_URL)
VITE_API_URL="/api"

# AI Studio automatically injects this at runtime
GEMINI_API_KEY=AIzaSyDPwDEm5DskU98XOhPBuZGcJzzedwHFa78
APP_URL="MY_APP_URL"
